<% include partials/header %>

<h1>Create new Hero </h1>

<form action="/playgrounds" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="image" placeholder="url">
  <button>Submit</button>
</form>

<a href="/playgrounds">Back</a>

<% include partials/footer %>
