<% include partials/header %>

<link rel="stylesheet" href="app.css">

<h1>Home PAGE</h1>

<img src="http://cdn.dota2.com/apps/dota2/images/blogfiles/meepo_announcer2.png">


<% include partials/footer %>
